<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.didi.exemples" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AffichagePref"
            android:label="@string/title_activity_affichage_pref" >
        </activity>
        <activity
            android:name=".AffichageBdD"
            android:label="@string/title_activity_affichage_bd_d" >
        </activity>
        <activity
            android:name=".AffichageCave"
            android:label="@string/title_activity_affiche_cave" >
        </activity>
        <activity
            android:name=".AffichageMenuPrincipal"
            android:label="@string/title_activity_affichage_menu_principal" >
        </activity>
        <activity
            android:name=".AffichageDetailVin"
            android:label="@string/title_activity_affichage_detail_vin" >
        </activity>
        <activity
            android:name=".exemple2"
            android:label="@string/title_activity_exemple2" >
        </activity>
    </application>

</manifest>
